<!-- app/views/dashboard/index.html.erb -->
<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
    <p class="text-gray-600">Bienvenido al Sistema de Inventario</p>
  </div>

  
  <!-- Logout -->
  <div class="mt-8 text-center">
    <%= link_to "Cerrar Sesión", session_path, 
        data: {
          turbo_method: :delete,
          turbo_confirm: "¿Estás seguro de cerrar sesión?" 
        },
        class: "inline-block bg-blue-500 hover:bg-red-600 px-6 py-2 rounded-lg transition-colors" %>
  </div>
</div>

<div class="flex flex-col ml-4">
  <p>Current user: <%= current_user.inspect %></p>
  <p>Current user role: <%= current_user&.role.inspect %></p>
  <p>Session user_id: <%= session[:user_id] %></p>
</div>